@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=DynaPuff:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Silkscreen:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0 20%;
}

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.colors {
  border: 2px solid grey;
  padding: 20px;
}

.fonts {
  border: 2px solid grey;
  padding: 20px;
  margin-top: 5%;
}

.colorsbox {
  position: relative;
  left: 4%;
  font-weight: bold;
}

.fontsbox {
  position: relative;
}

.styles {
  border: 2px solid grey;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.stylesbox {
  position: relative;
}

/* Colors */

.red {
  background-color: #ff2800;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

.pink {
  background-color: #fc8eac;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

.blue {
  background-color: #006db0;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

.green {
  background-color: #138808;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

.mango {
  background-color: #ff8243;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

.saffron {
  background-color: #f4c430;
  height: 100px;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}

/* Fonts */

.silkscreen {
  font-family: "Silkscreen", cursive;
  border-bottom: 2px solid black;
}

.oswald {
  font-family: "Oswald", sans-serif;
  border-bottom: 2px solid black;
}

.dynapuff {
  font-family: "DynaPuff", cursive;
  border-bottom: 2px solid black;
}

.text {
  border-bottom: 2px solid black;
}

.times {
  font-family: "Times New Roman", Times, serif;
}

strong {
  font-weight: 700;
}

h3:not(:last-of-type) {
  text-decoration: underline;
}
/* Text Styles */

@media only screen and (max-width: 800px) {
  .red {
    background-color: #ff2800;
    height: 100px;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    position: relative;
    bottom: 20px;
  }

  .saffron {
    background-color: #f4c430;
    height: 100px;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    position: relative;
    bottom: 20px;
  }
}
